#**XPE Bootcamp: Desenvolvedor(a) Python**

##Módulo 2: Python para a Análise de Dados

###Desafio Prático:
**Realizar a análise de uma base de dados real em Python.**

Enunciado

O uso de bicicletas como meio de transporte ganhou muita força nos últimos anos, seja por questões ambientais, de saúde ou até mesmo de infraestrutura de trânsito. Para incentivar seu uso, cidades em todo o mundo têm implementado programas de compartilhamento de bicicleta. Nesses
sistemas, elas são retiradas e devolvidas em quiosques automatizados que ficam espalhados por diversos pontos da cidade.

As plataformas de compartilhamento de bicicletas costumam coletar diversos tipos de dados, como a duração da viagem, as localizações iniciais e finais dos percursos, entre outros. Esses dados, em conjunto com informações sobre o clima, o trânsito e o relevo, por exemplo, possibilitam uma análise mais robusta do compartilhamento de bicicletas.

**Dataset:** https://pycourse.s3.amazonaws.com/bike-sharing.csv

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [14]:
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Qual o tamanho desse dataset (número de linhas, número de colunas)?

In [41]:
print("Tamanho do dataset (número de linhas, número de colunas):", df.shape)

Tamanho do dataset (número de linhas, número de colunas): (17379, 17)

Qual a média da coluna windspeed?

In [9]:
df['windspeed'].mean()

0.19009760630646177

Qual a média da coluna temp?

In [10]:
df['temp'].mean()

0.4969871684216583

Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)?

Quantos registros de locações existem para o ano de 2012 (número de linhas, número de colunas)?

In [46]:
# Filtrar o DataFrame para o ano de 2011 e 2012
df_2011 = df[df['year'] == 0]
df_2012 = df[df['year'] == 1]

print(f'O número de linhas e colunas para o ano de 2011 é:', df_2011.shape)
print(f'O número de linhas e colunas para o ano de 2012 é:', df_2012.shape)

O número de linhas e colunas para o ano de 2011 é: (8645, 17)
O número de linhas e colunas para o ano de 2012 é: (8734, 17)

Quantas locações de bicicletas foram efetuadas em 2011?

In [47]:
df_2011_reg = df_2011['total_count'].sum()

print(f'O número de locações de bicicletas efetuadas em 2011 foi:', df_2011_reg)

O número de locações de bicicletas efetuadas em 2011 foi: 1243103

Quantas locações de bicicletas foram efetuadas em 2012?

In [48]:
df_2012_reg = df_2012['total_count'].sum()

print(f'O número de locações de bicicletas efetuadas em 2012 foi:', df_2012_reg)

O número de locações de bicicletas efetuadas em 2012 foi: 2049576

Qual estação do ano contém a maior média de locações de bicicletas?

Qual estação do ano contém a menor média de locações de bicicletas?

In [32]:
# Agrupando os dados pela coluna "season" e calculando a média das locações de bicicletas
mean_rentals_by_season = df.groupby('season')['total_count'].mean()
print(mean_rentals_by_season)

# Encontrando a estação com a maior média de locações de bicicletas
season_with_highest_mean = mean_rentals_by_season.idxmax()
season_with_smaller_mean = mean_rentals_by_season.idxmin()

print(f"A estação com a maior média de locações de bicicletas é: {season_with_highest_mean}")
print(f"A estação com a menor média de locações de bicicletas é: {season_with_smaller_mean}")

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64
A estação com a maior média de locações de bicicletas é: 3
A estação com a menor média de locações de bicicletas é: 1

Qual horário do dia contém a maior média de locações de bicicletas?

Qual horário do dia contém a menor média de locações de bicicletas?

In [33]:
# Agrupar o DataFrame por hora do dia e calcular a média da coluna count
hourly_rentals = df.groupby('hour')['total_count'].mean()
print(hourly_rentals)

# Encontrar a hora com a maior média de locações de bicicletas
hour_with_max_rentals = hourly_rentals.idxmax()
hour_with_min_rentals = hourly_rentals.idxmin()

# Imprimir o resultado
print(f'O horário do dia com a maior média de locações de bicicletas é: {hour_with_max_rentals}h')
print(f'O horário do dia com a menor média de locações de bicicletas é: {hour_with_min_rentals}h')

hour
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: total_count, dtype: float64
O horário do dia com a maior média de locações de bicicletas é: 17h
O horário do dia com a menor média de locações de bicicletas é: 4h

Que dia da semana contém a maior média de locações de bicicletas?

Que dia da semana contém a menor média de locações de bicicletas?

In [37]:
# Agrupar os dados por dia da semana e calcular a média de locações
day_rentals = df.groupby('weekday')['total_count'].mean()
print(day_rentals)

# Encontrar o dia com a maior média de locações de bicicletas
max_day = day_rentals.idxmax()
min_day = day_rentals.idxmin()

# Imprimir o resultado
print(f'O dia da semana com a maior média de locações é o {max_day}')
print(f'O dia da semana com a menor média de locações é o {min_day}')

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793
Name: total_count, dtype: float64
O dia da semana com a maior média de locações é o 4
O dia da semana com a menor média de locações é o 0

Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?

In [38]:
# Filtrar o DataFrame para quartas-feiras
df_quarta = df[df['weekday'] == 3]

# Agrupar os dados pelo horário do dia e calcular a média das locações
media_por_hora = df_quarta.groupby('hour')['total_count'].mean()
print(media_por_hora)

# Encontrar a hora com a maior média de locações
hora_maxima = media_por_hora.idxmax()

print(f"O horário do dia com a maior média de locações de bicicletas às quartas-feiras é {hora_maxima}h.")

hour
0      34.557692
1      15.336538
2       7.813725
3       4.888889
4       4.968750
5      25.750000
6     107.807692
7     303.980769
8     488.326923
9     238.528846
10    131.894231
11    152.201923
12    193.903846
13    185.826923
14    170.548077
15    181.288462
16    272.961538
17    513.144231
18    494.029126
19    357.504854
20    256.660194
21    194.669903
22    143.689320
23     83.737864
Name: total_count, dtype: float64
O horário do dia com a maior média de locações de bicicletas às quartas-feiras é 17h.

Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?

In [39]:
# Filtrar o DataFrame para sábados
df_sabado = df[df['weekday'] == 6]

# Agrupar os dados pelo horário do dia e calcular a média das locações
media_por_hora = df_sabado.groupby('hour')['total_count'].mean()
print(media_por_hora)

# Encontrar a hora com a maior média de locações
hora_maxima = media_por_hora.idxmax()

print(f"O horário do dia com a maior média de locações de bicicletas aos sábados é {hora_maxima}h.")

hour
0      94.304762
1      67.780952
2      50.495238
3      22.885714
4       7.657143
5       8.291262
6      21.000000
7      45.961905
8     114.476190
9     186.790476
10    263.723810
11    328.609524
12    375.380952
13    385.371429
14    381.333333
15    382.428571
16    366.142857
17    334.409524
18    292.048077
19    239.932692
20    180.865385
21    156.000000
22    139.663462
23    115.855769
Name: total_count, dtype: float64
O horário do dia com a maior média de locações de bicicletas aos sábados é 13h.